img {
    width: 100px;
    border: 1px solid gray;
    border-radius: 5px;
}

.card {
    background-color: white;
    position: absolute;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -ms-transition-animation-duration: 0.1s;
    transition-duration: 0.1s;
    &.removed {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }
    &.movable {
        box-shadow: 0 0 25px lightblue;
    }
}

.first {
}

.second {
    transform: rotate(90deg);
}

.third {
    transform: rotate(180deg);
}

.forth {
    transform: rotate(270deg);
}
