.passing {
    $side: 112px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-animation-duration: 0.4s;
    transition-duration: 0.4s;
    position: absolute;
    width: $side;
    left: calc(50%);
    top: calc(50% - 112px / 2);
    color: gray ;

    &:hover {
        color: skyblue ;
    }
}

.button-ok {
    text-align: center;
    font-size: 36px;
    vertical-align: middle;
    padding: 17px 46px;
    border: 1px solid #bdbdbd;
    border-radius: 18px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #6eaf88;
    font: normal normal bold 36px verdana;
    color: #ffffff;
    &:hover {
        background: #4bd68e;
        color: #ffffff;
    }
    &:active {
        background: #01ae3f;
    }
}
